<div class="shadow jumbotron text-center spicy">
  <h1>Welcome to Site Name</h1>
  <h2><small class="spicy">This is just a test site with content filler the core concepts work such as authentication, databases and more. If you want to create a paid account please visit https://stripe.com/docs/testing for using test card. Mess around and let me know if you encounter issues. The UI is..well not finished I decided to work on the backend rather than the UI. If all goes well I will work on the UI. </small></h2>
  <%= link_to "I need a job", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary pull-right outline-buttons' %>
  <%= link_to "Post a job", new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-success pull-left outline-buttons' %>
</div>
<div class="row">
  <% if user_signed_in? %>
    <div class="col-md-6">
      <div class="well shadow">
        <h2 class="text-center">Your Profile</h2>
        <% if current_user.profile %>
          <%= link_to "Fix up your profile", edit_user_profile_path(user_id: current_user.id), class: 'btn btn-success  btn-block' %>
          <%= link_to "View your profile", user_path(current_user), class: 'btn btn-default  btn-block' %>
        <% else %>
          <p>Create your profile so you can get hired! Looking to hire? Well create your profile so youre clients can reach you!</p>
          <%= link_to "Create your profile", new_user_profile_path(current_user), class: 'btn btn-default' %>
        <% end %>
      </div>
    </div>
    <% if current_user.plan_id == 2 %>
       <div class="col-md-6">
        <div class="well shadow">
          <h2 class="text-center">Post your Job! </h2>
          <p>Need work to get done? Going out need a babysitter? Post your job and get help fast!</p>
          <%= link_to "Get work done!", new_job_path, class: 'btn btn-info btn-block' %>
        </div>
      </div>
     
    <% end %>
    <div class="col-md-6">
      <div class="well shadow">
        <h2 class="text-center">The Community</h2>
        <p>Take a look at other members and maybe you will find the right person to hire!</p>
        <%= link_to "Find the right person!", users_path, class: 'btn btn-default  btn-block' %>
      </div>
    </div>
   <% if true#current_user.plan_id == 1 %>
      <div class="col-md-6">
        <div class="well shadow">
          <h2 class="text-center">Jobs</h2>
          <p class="text-center">Take a look at the most recent jobs postings.</p>
          <%= link_to "Lets get hired", jobs_url, class: 'btn btn-default  btn-block' %>
        </div>
      </div>
      <div class="col-md-12">
        <div class="well shadow">
          <h3 class="text-center">Looking for a job in your town? Select your town below</h3>
          <%= Category.all.each do |category| %>
          <%= link_to category.name, jobs_path(category: category.name), class: 'btn btn-default  btn-block' %>
          <% end %>
        </div>
      </div>
    <% end %> 
  <% else %>
    <div class="col-md-6 ">
      
      <div class="well home-page shadow">
        <h2 class="text-center ">How does "Site Name" Work? </h2>
      </div>
      
    </div>
    <div class="col-md-6">
      
      <div class="well home-page shadow ">
        <h2 class="text-center">How does "Site Name" Work? </h2>
      </div>
      
    </div>
    <div class="col-md-6">
      
      <div class="well home-page shadow ">
        <h2 class="text-center">How does "Site Name" Work? </h2>
      </div>
      
    </div>
    <div class="col-md-6">
      
      <div class="well home-page shadow ">
        <h2 class="text-center">How does "Site Name" Work? </h2>
      </div>
      
    </div>
  <% end %>
</div>
